html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-blue);
}
#app {
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
